body{
  
  margin: 0;
  padding: 0;
  background-color: floralwhite ;
}

.sched{
  
  font-family: cursive;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

p{
  
  text-align: center;
  
}

.mon{
  
  width: 80%;
  height: 70px;
  position: relative;
  left: 10%;
  top: 50px;
  border: 2px solid #000;
  border-radius: 20px;
}

.signMon{
  
  background-color: darkgrey;
  width: 70px;
  padding: 10px;
  position: absolute;
  bottom: 29px;
  left: 20px;
  border-radius: 10px;
}

.monTime{
  
  position: absolute;
  top: 7px;
  color: navy;
  font-size: 13px;
  left: 5px;
}

.monSub{
  
  font-size: 15px;
  position: absolute;
  left: 170px;
  transform: translateY(-9px);
}

.online{
  
  position: absolute;
  top: 37px;
  left: 40px;
  font-size: 13px;
  color: darksalmon;
}
